@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

*{
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  /* font-family: 'Sawarabi Mincho', sans-serif; */
 } 

.navbar {
  background: rgba(0, 0, 0, 0.4)!important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.background-inner {
  height: 600px;
}

.home-background-inner {
  background-image: url(img/artist-band-bass-92080.jpg);
}

.home-caption {
  font-family: 'Sawarabi Mincho';
  top: 14%;
  left: 10%;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  z-index: 1;
  color: white;
  text-shadow: .1rem .1rem .8rem black;
}

.caption h1{
  font-size: 5.2rem;
  letter-spacing: .3rem;
  margin-bottom: 2.5rem;
}

.caption h3 {
  font-size: 2rem;
  letter-spacing: .2rem;
  margin: .5rem;
}

.movie {
  background-color: #000;
}

.tour {
  position: absolute;
}



.concept-background-inner {
  height: 600px;
  background-image: url(img/audience-celebration-city-258804.jpg);
  background-size: 100%;
}

.concept-caption {
  position: relative;
  padding: 6rem 0;
  left: 20%;
  color: white;
  text-shadow: .3rem .3rem 1rem black;
}

.concept-background-inner::before{
  content: "";
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.main-form {
  max-width: 450px;
  margin: auto;
}

.ticket {
  margin-top: 4rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

  
@media (max-width: 576px) {

  .caption h1{
    font-size: 2.2rem;
    letter-spacing: .1rem;
    margin-bottom: 1.5rem;
  }

  .caption h3 {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    margin: .2rem;
  }
  .background-inner {
    height: 300px;
  }

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
/* figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
} */
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
